
.header-top {
    display: flex;
    justify-content: space-around;
    height: 52px;
    background-color: #e5eef6;
}

.contacts {
    text-align: center;
    padding: 13px;
}

.contacts-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts-list li {
    margin: 0 15px;
    text-decoration: none;
    color: #1d2c38;
    font-size: 16px;
    font-weight: 400;
 
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.office-time{
    margin-right: 50px;
}
.office-time i {
 margin-right: 5px;
}

.social-icons {
    font-size: 16px;
  
    font-weight: 400;


}
.social-icons-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.social-icons-list li a{
    font-size: 16px;
   margin-right: 20px;

}

.social-icons-list li a{
   
    color: #1d2c38;

}
.social-icons-list li a i{
   
    font-weight: bold;

}
